<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Creation Form</title>
    <%- include('partials/includes') -%>
  </head>
  <body>    
    <%- include('partials/header') -%>
    <main class="container">
      <form action="/products" method="post" enctype="multipart/form-data">
        <h3>Product Creation Form</h3>

        <input
          type="name"
          name="name"
          id="name"
          placeholder="Enter Product name"
        />     
 
        <input
          type="number"
          name="quantity"
          id="quantity"
          placeholder="Enter no. of units"
        />
  
        <input
          type="number"
          name="price"
          id="price"
          placeholder="Enter the price of product"
        />
       
        <input type="file" name="image" id="image" />

        <button type="submit">Create Product</button>        
      </form>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
