<header id="top" class="p-4 bg-gradient-to-r from-purple-400 to-green-500 ">
  <div class="flex justify-around items-center top-nav">
    <!-- Brand -->
    <a
      href="/"
      class="font-bold brand text-5xl  border-2 border-white"
    >
      MyProducts</a
    >
    <!-- Search Box -->
    <div class="search border-yellow-200 flex items-center ">
      <input
        type="text"
        name="search"
        id="search"
        class="search w-4/5 p-4 border-2 border-yellow-200 rounded-l-xl border-r-0 outline-none"
      />
      <!-- Search Symbol -->
      <span class="search-symbol p-4 font-bold bg-gray-100 rounded-r-xl border-2 border-yellow-900"
        ><i class="fas fa-search"></i
      ></span>
    </div>
    <% if(user) { %>
      <strong class='user'><%= "Hello " + user.name + "!" %></strong>
      <a href="/products" class="border-2 border-yellow-900 login">View Products</a>    
      <% if(user.isAdmin) { %>
         <a href="/products/new" class="border-2 border-yellow-900 login">Create Product</a>
      <% } %>
      <a href="/users/logout" class="border-2 border-yellow-900 login">Logout</a>
      <!-- Shopping Cart -->
      <% if(!user.isAdmin) { %>
        <a href="/carts" class="border-2 border-yellow-900 cart" style="display: block"
          ><i class="fas fa-shopping-cart text-yellow-600 text-5xl"></i 
        >
        <div class="circle">
          <%= productCount %>
        </div>
      </a>
        <% } %>
    <% } else { %>
    <!-- Login  link-->
    <a href="/products" class="border-2 border-yellow-900 login">View Products</a>    
    <a href="/users/login" class="border-2 border-yellow-900 login">Login</a>
    <% } %>
    

  </div>
</header>
