<footer>
  <div class="footer-top text-center p-4">
    <a href="#top" class="text-center p-4">Back to top</a>
  </div>
  <div class="footer-bottom container p-4">
    <div class="flex justify-between">
      <div class="get-to-know">
        <ul>
          <li>About Us</li>
          <li>Careers</li>
          <li>Press Release</li>
          <li><strong class="brand">My Podcast</strong> Cares</li>
          <li>Gift a Smile</li>
        </ul>
      </div>
      <div class="connect">
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div class="make-money">
        <ul>
          <li>Sell on <strong class="brand">My Podcast</strong></li>
          <li>Sell under <strong class="brand">My Podcast</strong> Accelerator</li>
          <li><strong class="brand">My Podcast</strong> Global selling</li>
          <li>Become an Affiliate</li>
          <li>Fulfilment by <strong class="brand">My Podcast</strong></li>
          <li>Advertise your Products</li>
          <li><strong class="brand">My Podcast</strong> Pay on Merchants</li>
        </ul>
      </div>
      <div class="let-us-help-you">
        <ul>
          <li>Covid-19 and <strong class="brand">My Podcast</strong></li>
          <li>Your Account</li>
          <li>Returns center</li>
          <li>100% purchase protection</li>
          <li><strong class="brand">My Podcast</strong> App Download</li>
          <li><strong class="brand">My Podcast</strong> Assistant Download</li>
          <li>Help</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center p-4">
      <small> Conditions of use and sale &copy; 2021, <strong class="brand">My Podcast</strong> Limited </small>
  </div>
</footer>
